= navbar fixed: :bottom, class: "navbar-inverse" do
  = navbar_header brand: 'Start', brand_link: '/'
  = navbar_collapse do

    = navbar_group do
      = navbar_item 'Videos', '/videos'
      = navbar_item 'Wikipedia', 'http://de.wikipedia.org/wiki/Wrangelkiez'
      = navbar_item 'Impressum', '/impressum'
